@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>
<p>You do not have permission to view this page. Please contact the administrator if you believe this is an error.</p>

<a href="/">Go to Home Page</a>
